.row.messages-new
  .column.small-12.text-center

    .row#instruction
      .column.small-4.text-center
        1. Write your message and uploade your image. Click create and copy the link shown on the modal.
      .column.small-4.text-center
        2. Give the link to the message's intended recipient.
      .column.small-4.text-center
        3. The message will be destroyed once read OR when it reaches 7 days old (whichever comes first).

    #alert-box.alert-box{'data-alert' => true, style: 'display: none'}
      #alert-message
      %a{href: '#', class: 'close'} &times;

    = form_tag do
      = text_area_tag :message, nil, id: 'message-text-area', rows: 15
      = file_field_tag :image, id: 'image-file-field', style: 'display: none;'

      .row
        .column.small-12.text-center Max file size is 250 KB
      .row
        .column.small-12.text-center
          = submit_tag 'Upload Image', class: 'small button', id: 'image-upload-button'
      .row
        .column.small-12.text-center
          %p= "By clicking \"Create Message\", you agree to our <a data-reveal-id='toc-modal'>Terms of Service</a> and <a data-reveal-id='privacy-policy-modal'>Privacy Policy</a>".html_safe
      .row
        .column.small-12.text-center
          = submit_tag 'Create Message', class: 'button large', id: 'create-message'

#msg-url-modal.text-center.reveal-modal{'data-reveal' => true}
  %h4 Copy the following link and give it to its intended recipient. Once read, the message will be destroyed.
  %br
  .panel.callout.radius
    %p#msg-url-container
  %br
  %button#destroy-button.button.alert Or Click Here to Destroy

= render partial: 'layouts/privacy_policy'
= render partial: 'layouts/terms_of_service'

:javascript
  $(function(){
    $(document).foundation();
    Message.initCreate();
  })