.row.messages-read.text-center

  %h1 Your message

  .column.small-12.text-center
    .panel.callout.radius
      #message-container
      #attachment-container

:javascript
  $(function(){
    Message.initRead();
  })