.row.text-center

  %h1 How PrivBin Works

  %h3 Message/Image Creation

  %p When a user submits a message, before sending anything to the server, PrivBin generates an encryption key (we'll this K) that will be used to encrypt user's message (M) into an encrypted string (C). This encrypted string can only be decrypted back to M using K. Note that nothing has been sent to the server at this point; the key generation and message encryption is done on the client.

  %p Once the encryption is done, PrivBin sends the encrypted message (C) to the server. PrivBin DOES NOT send the encryption key (K) to the server. When the server receives C, it randomly generates a unique string to be used as the message's external identifier (we'll call this external identifier EID). The server one-way hashes (SHA256) this EID and uses the output (we'll call this ID) as an internal identifier. The server then sends the EID back to the client as a response.

  %p After the client gets a successful response, the user will get the URL which has both the external identifier (EID) and the encryption key (K).

  %p The same thing happens to images but it gets converted to base 64 string first before it gets encrypted.

  %h3 Message/Image Retrieval

  %p When a user enters PrivBin's message URL (e.g. http://privbin.com/r/[EID]/#[K]) to retrieve an encrypted message, PrivBin first grabs the (external ID) EID part of the URL and sends that to the server. The server hashes this EID to get the internal identifier of the message (ID) which will be used to find the corresponding message in the database. Once the message is retrieved, it is deleted from the database. The server send the message (C) back to the client as a response.

  %p Once the client has received the encrypted message (C), it grabs the key (K) from the URL and uses that key to decrypt the message. The browser then shows the decrypted message and/or image to the user.
