/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'foundation/foundation'
 *= require_tree .
 *= require_self
 */

*, input.create-message, h1, h2, h3, h4  {
  font-family: 'Menlo', 'Monaco', 'Consolas', "Courier New", 'monospace';
}

a{
  text-decoration: underline;

  &.logo{
    text-decoration: none;
  }
}

nav{
  a {
    text-decoration: none;
  }

  &.top-bar{
    margin-bottom: 30px;
  }
}

#instruction, #attachment-container{
  margin-top: 20px;
  margin-bottom: 20px;
}

#privacy-policy-modal{
  height: 800px;
  overflow-y: scroll;
}