%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        %a.logo{href: '/'} PrivBin
  %section.top-bar-section
    %ul.right
      %li
        %a{href: '/about'} About
      %li
        %a{href: '/how_it_works'} How It Works