#privacy-policy-modal.text-center.reveal-modal{"data-reveal" => true}
  %h2 Privacy Policy

  %p Protecting your private information is our priority. This Statement of Privacy applies to the Privbin.com website and governs data collection and usage. By using the Privbin.com website, you consent to the data practices described in this statement.

  %h3 Definitions

  %p Privbin users who access and use Privbin services are defined as Users.

  %p Data, text and content encrypted and submitted to Privbin by Users are defined as Message.

  %h3 Service description

  %p Privbin is a free service that allows Users to create self-destructing encyrpted Message that can be shared as unique one-time-user HTTPS URLs (hereafter referred to as Links). These Links expire after a certain period of time or after its first access via any HTTP client (i.e. web browser) whichever comes first.

  %p Privbin does not provide any means to send Links. Privbin declines any responsibility in damages resulting from the act of sending and receiving Links. Users have full responsibility of making sure that Links transmission are as secure as possible.

  %p By using Privbin, Users understand that, depending on the transmission channel of Links, there may be a certain risk involved that third parties may intercept Users' communication and obtain knowledge of Links.

  %h3 Pseudonymous data

  %p Privbin does not prevent Users from introducing personal data into the Message. Even though this Message is encrypted, the Message can later be decrypted again. This nature of the encrypted Message constitutes it as pseudonymous (personal) data.

  %p Since Users hold the decryption key of the Message, Privbin is not able to decrypt the Message and access its content. Privbin does not send the decryption key to the server and, thus, unable to store it in Privbin's server.

  %h3 Processing of IP addresses

  %p Privbin does not log Users IP adresses. They are sent to Privbin's servers but they are not stored in Privbin's log-files.

  %h3 Disclaimer

  %p Privbin declines any responsibility related to the Message's content.

  %h3 Use of cookies

  %p Privbin uses cookies to send user interactions data to Google Analytics. Users can refuse cookies by disabling cookies in browser settings.

  %h3 Changes to this Statement

  %p Privbin reserves the right to change this Privacy Policy anytime.

  %h3 Contact Information

  %p Privbin welcomes your comments regarding this Privay Policy. If you believe that Privbin.com has not adhered to this Statement, please send us an e-mail at dennis.suratna@gmail.com.