#toc-modal.text-center.reveal-modal{"data-reveal" => true}
  %h2 Terms of Service

  %h3 Definitions

  %p Privbin users who access Privbin services are defined as Users.

  %p Data, text and content encrypted and submitted to Privbin by Users are defined as Message.

  %h3 Limited Liability

  %p By using Privbin's service, Users agree to indemnify, defend, and hold Privbin, its directors or employees harmless against any and all liability and cost as a result of using Privbin. Users shall not assert any claim or allegation of any nature whatsoever against Privbin, its directors or employees.

  %p Privbin declines any responsibility related to the content of Messages written by its Users.

  %h3 Disclosure of Data to Third Party

  %p Privbin does not sell, share, rent or lease its Users' information to third parties.