!!!
%html
  %head
    %title PrivBin - Send self-destructing message and image
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render partial: 'layouts/navigation'

    %div#page-content
      = yield

    = render 'layouts/ga'
